
:reat{
        --navy-blue: #18121e;
        --gun-metal: #233237;
        --rusty-red:  #984b43;
        --warm-yellow: #eac67a;
}
html,body{
        height: 100%;
        background: #233237;
        color: #984b43; 
}
h6, h5, h4{
        text-align: center;
}
p{
        text-align: justify;
}
.card{
        background:#18121e;
        color:#eac67a;
}
img{
        max-width: 100%;
}

/*cover*/
#cover.header-content{
        background: #222 url(../img/logo.jpg) center center no repeat;
        background-size: cover;
        color: rgb(19, 10, 145);
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
}
#cover-texto{
        width: 50%;
}
#cover-texto .form-inline{
        padding: 5rem;
}
#acerca-de{
        background: url("../img/saga 3.jpg") center center no repeat;
        background-size:cover;
}
.texto-acerca-de{
        background: orangered;
        color: white;
        padding: 1.75rem;
}
.contenido-seccion{
        padding: 5 rem 0;
}
.row{
        display: flex;
        flex-direction: row;
       }     